html
  head
    meta charset="utf-8"
    /script src="/assets/js/opal.js"
    script src="/assets/js/application.js"
    /== assets.(:js)
    /- byebug
    /= ::Opal::Sprockets.javascript_include_tag('application', sprockets: sprockets, prefix: "/assets/js", debug: true)
    /javascript:
      Opal.load("application")
  body
    == yield
